# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Directories and temp files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
.env
.envrc
*.venv

# Poetry / Pipenv
.poetry/
Pipfile
Pipfile.lock

# Conda
*.conda
conda-meta/
conda-env.yaml

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints
*.egg-info/

# VSCode and PyCharm related
.vscode/
.idea/
*.iml
*.sublime-workspace
